<nz-header>
  <div class="logo">LOGO</div>
  <ul nz-menu [nzMode]="'horizontal'" [nzTheme]="'dark'">
    <li nz-menu-item>
      <i class="anticon anticon-mail"></i> Navigation One</li>
    <li nz-menu-item>
      <i class="anticon anticon-appstore"></i> Navigation Two</li>
    <li nz-menu-item>
      <span title>
        <i class="anticon anticon-setting"></i> Navigation Three</span>
    </li>
    <li nz-menu-item>
      <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
    </li>
  </ul>
  <div class="user">
    <nz-avatar nzIcon="anticon anticon-user"></nz-avatar>
  </div>
</nz-header>
